@using DBContext;
@model Proveedor
@{ ViewData["Title"] = "Actualizar Proveedor"; }

<h1>@ViewData["Title"]</h1>

@if (!ViewData.ModelState.IsValid)
{
<div class="alert alert-danger">
    Favor revisar la informacion solicitada
</div>}

<div class="row">
    <div class="col-6">
        <form method="post" autocomplete="off">
            <div class="form-group">

                <label for="CodigoProveedor">Codigo</label>
                <input asp-for="CodigoProveedor" class="form-control" value="@Model.CodigoProveedor" />
                <span asp-validation-for="CodigoProveedor" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label for="Nombre">Nombre Proveedor</label>
                <input asp-for="Nombre" class="form-control" value="@Model.Nombre" />
                <span asp-validation-for="Nombre" class="text-danger small"></span>
            </div>


            <div class="form-group">
                <label>Estado:</label>

                <select asp-for="Estado" class="form-control" >
                    <option value="">Seleccione</option>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>

                </select>
            </div>

            <div class="form-group">
                <label for="Cedula">Cedula</label>
                <input asp-for="Cedula" class="form-control" value="@Model.Cedula" />
                <span asp-validation-for="Cedula" class="text-danger small"></span>
            </div>

            <div class="form-group">
                <label for="Direccion">Direccion</label>
                <input asp-for="Direccion" class="form-control" value="@Model.Direccion" />
                <span asp-validation-for="Direccion" class="text-danger small"></span>
            </div>

            <div class="form-group">
                <label for="Telefono">Telefono</label>
                <input asp-for="Telefono " class="form-control" value="@Model.Telefono" />
                <span asp-validation-for="Telefono" class="text-danger small"></span>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-controller="Proveedor" asp-action="Index" class="btn btn-secondary">Return</a>
            </div>
        </form>
    </div>
</div>